/* =======================================


        1. common css
        2. reuseable css
        3. home
        4. collection
        5. about
        6. best selling flower

    
    
    ==========================================*/

/* 1. common css 
    ------------------------- */





/* 2. reuseable css 
    -------------------------- */
    h2 {
        line-height: 1.3 !important;
    }
h6 {
    position: relative;
}

h6::before {
    position: absolute;
    content: '';
    width: 200px;
    height: 2px;
    background-color: #8B1128;
    top: 50%;
    transform: translate(-50% -100%);
    right: 110%;

}

@media (max-width: 400px) {
    h6::before {
        width: 90px;
    }
}


/* 3. home 
----------------------- */
.home {
    width: 100%;
    height: 100vh;
    background-image: url('./assets//bg/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* 4. collection 
----------------------------- */

.swiper {
    padding: 45px 35px;
}
.swiper-slide{
    display: flex;
    justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
    color: #8B1128;
}
@media (max-width: 1024px) {
    .swiper {
        padding: 45px 3px;
    }
}


/* best selling flowers 
----------------------------------------------- */
.best-selling{
    position: relative;
}
.best-selling::before{
    content: "";
    position: absolute;
    left: 0;
    top: -100px;
    width: 32%; 
    height: 100%; 
    background-image: url('./assets/grafix/lraf-rose.png');
    background-size: contain; 
    background-repeat: no-repeat; 
}

@media (max-width: 1095px) {
    .best-selling::before{
        top: -50px;
        width: 38%; 
        
    }
}
@media (max-width: 640px) {
    .best-selling::before{
        width: 60%; 
        
    }
}
























